//
   Created by Jeffry Romero on 2016-11-03.
doctype html
head

    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    //::::::::::::::::::::::::::::CSS::::::::::::::::::::::::
    //Main
    link(rel='stylesheet', href="assets/css/main.css")

    //Awesome font
    link(rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css")

    //Bootstrap
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css', media='screen', title='no title', charset='utf-8')

    //Directives
    link(rel='stylesheet', href='bower_components/angular-loading-bar/build/loading-bar.min.css')

    script.
        token = !{token};
        _rol = !{rol};
        _usuario = !{usuario}
        _empresa = !{empresa}
        privilegio = !{privilegios}
        _logo = !{logo}


        globalHeader = {
            'authorization': token,
            rol: _rol,
            usuario: _usuario,
            empresa: _empresa,
            logo: _logo
        };
    //::::::::::::::::::::::::js::::::::::::::::::::::::::::::
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js')

    //LeafLet
    script(src='http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js')
    script(src='http://tombatossals.github.io/angular-leaflet-directive/dist/angular-leaflet-directive.min.js')
    script(src='bower_components/angular-leaflet-directive/dist/leaflet.polylineDecorator.js')
    script(src='bower_components/leaflet/dist/leaflet.draw.js')
    script(src='bower_components/Leaflet.label/dist/leaflet.label.js')

    //Maps
    //script(src='http://maps.google.com/maps/api/js?v=3&sensor=false')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBarylJ8I7CBJFxvwiVEIm9hKCDV5c_QhQ')
    script(src='bower_components/angular-leaflet-directive/dist/google.js')
    script(src='bower_components/angular-leaflet-directive/dist/Bing.js')

    //Moment
    script(src="assets/js/moment/moment.min.js")
    script(src="assets/js/moment/angular-moment.min.js")
    script(src="assets/js/moment/moment-duration-format.js")

    //Angular Directives
    script(src='bower_components/angular-loading-bar/build/loading-bar.min.js')
    script(src='bower_components/angular-bindonce/bindonce.min.js')
    script(src='bower_components/angular-cookies/angular-cookies.min.js')

    link(rel='stylesheet', href='/javascripts/jqwidgets-ver4.1.2/jqwidgets/styles/jqx.base.css')

    //jqwidgets
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxcore.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxbuttons.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxcheckbox.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.filter.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.selection.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxmenu.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxscrollbar.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxlistbox.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxpanel.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdropdownlist.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdata.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxdata.export.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.export.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.sort.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.columnsresize.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxangular.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.pager.js')
    script(src='javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxgrid.grouping.js')
    script(src='/javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxcombobox.js')
    script(src='/javascripts/jqwidgets-ver4.1.2/jqwidgets/jqxangular.js')

    //libreria
    script(src='javascripts/Libreria.js')

    //desktop notifications
    script(type="text/javascript" src="bower_components/HTML5-Desktop-Notifications2/desktop-notify.js")
    script(type="text/javascript" src="bower_components/angular-web-notification/angular-web-notification.js")

    script(src="app.js")
    block CSS
    block JS

    script.
        //:::::::::::::::::::::todas las funciones que se ejecutar cuando la aplicacion termine de cargar:::::::::::::::::::::::
        $(function () {
            //::::::::::::ocultamos los popover cuando damos click sobre un input
            $(":input").click(function () {
                if ($(this).is("textarea") || $(this).is("input[type='text']")) {
                    $(this).popover('hide');
                }
            });
        });

html(ng-app="Sabueso")
    body(scroll="no" style="overflow-x:")
        div(ng-controller="mainCtrl" ng-init="setVistaPrincipal('/components/ControlRoom/CrearTransferencias.html');clearInterval()")
            ul().nav.nav-tabs
                li.active
                    a(data-toggle="tab" href="#" ng-click="setVistaPrincipal('/components/ControlRoom/CrearTransferencias.html')") Asignar Transferencias
                li
                    a(data-toggle="tab" href="#" ng-click="setVistaPrincipal('/components/ControlRoom/ListarTransferencias.html')") Listar Transferencias
                li
                    a(data-toggle="tab" href="#" ng-click="setVistaPrincipal('/components/ControlRoom/reporteTransferencias.html')") Reporte Transferencias
                li(role='presentation' style="float:right; margin-top:10px; margin-right:25px;")
                    div
                        label(ng-bind='empresa' style="margin-left:25px;")

            #contenedorPrincipal
                div( ng-include="getVistaPrincipal()")


        //::::::::::::::::::::::::Archivo de configuracion del mapa::::::::::::::::::::::::
        script(src='assets/js/validaciones.js')
        script(src='assets/js/MapaConfig.js')

        //Modulo Referencia
        script(src='components/Referencias/Servicio.js')
        script(src='components/Referencias/Factory.js')
        script(src='components/Referencias/ReferenciaController.js')

        //Modulo Unidades
        script(src='components/Unidades/Servicio.js')
        script(src='components/Unidades/Factory.js')

        //Modulo Geocercas
        script(src="components/Geocercas/Servicio.js")
        script(src="components/Geocercas/Factory.js")

        //Modulo Empresas
        script(src='components/Empresas/Factory.js')

        //Modulo Main
        script(src='components/Main/Servicio.js')
        script(src='components/Main/Factory.js')
        script(src='components/Main/MainController.js')

        //Modulo Pizarron
        script(src='components/Pizarron/PizarronController.js')
        script(src='components/Pizarron/Factory.js')


        //Modulo Recorrido
        script(src='components/Recorridos/RecorridoController.js')
        script(src='components/Recorridos/Factory.js')

        //Modulo Geocercas
        script(src='components/Geocercas/GeocercasController.js')
        script(src='components/Geocercas/Geocercas.js')
        script(src='assets/js/MapaConfig.js')

        //Modulo Filtros
        script(src='components/Filtros/ServiceFiltros.js')
        script(src='components/Filtros/FiltrosFactory.js')
        script(src='components/Filtros/FiltrosController.js')

        //Modulo Categorias
        script(src='components/Categorias/ServiceCategorias.js')
        script(src='components/Categorias/FactoryCategorias.js')
        script(src='components/Categorias/CategoriasController.js')

        //Modulop Alertas
        script(src='components/AlertasCorreo/ServiceAlertas.js')
        script(src='components/AlertasCorreo/FactoryAlerta.js')
        script(src='components/AlertasCorreo/AlertaController.js')

        //Modulo Motorista
        script(src='components/Motorista/ServicioMotorista.js')
        script(src='components/Motorista/motoristaController.js')
        script(src='components/Motorista/FactoryMotorista.js')

        //Modulo Monitoreo
        script(src='components/monitoreo/monitoreoController.js')
        script(src='components/monitoreo/servicioMonitoreo.js')
        script(src='components/monitoreo/detalleUnidadesCtrl.js')

        //LugareNoAutorizados
        script(src='components/lugaresNoAutorizados/noAutorizadosController.js')
        script(src='components/lugaresNoAutorizados/factoryNoAutorizado.js')
        script(src='components/lugaresNoAutorizados/autorizadosController.js')

        //Enlaces RAstras
        script(src='components/Enlaces/enlacesController.js')
        script(src='components/Enlaces/ServiceEnlaces.js')
        script(src='components/Enlaces/FactoryEnlaces.js')

        //Transferencias
        script(src='components/Transferencias/transferenciasCtrl.js')
        script(src='components/Transferencias/Factory.js')
        script(src='components/Transferencias/Service.js')
        script(src='components/ControlRoom/controlRoomCtrl.js')

        //::::::::::::::::::::::::: ALL JS ::::::::::::::::::::::::::::
        //OpenLayer
        script(src="http://tombatossals.github.io/angular-openlayers-directive/bower_components/openlayers3/build/ol.js")

        //growl notification
        script(src="assets/js/jquery.bootstrap-growl.min.js")

        //Leaflet
        script(src="assets/libs/leaflet/Leaflet.fullscreen.min.js")

        //highcharts
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts-3d.js"></script>

        //Icon-Select-Plugin
        script(src='assets/js/icon-select-plugin/iconselect.js')
        script(src='assets/js/icon-select-plugin/iscroll.js')

        //MultipleSelect with Checkbox
        script(src='assets/js/multipleselect/angularjs-dropdown-multiselect.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js')

        //Underscore
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

        //Converto JSON to Array
        script(src="assets/js/toArrayFilter.js")

        //::::::::::::::::::::::::::::::ALL CSS::::::::::::::::::::::::::::::::::::
        //LeafLet
        link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css')
        link(rel='stylesheet', href='bower_components/leaflet/dist/leaflet.draw.css')
        link(rel='stylesheet', href='bower_components/Leaflet.label/dist/leaflet.label.css')
        link(rel="stylesheet" href="assets/css/leaflet/leaflet.fullscreen.css")

        //OpenLayer
        </script><link href="http://tombatossals.github.io/angular-openlayers-directive/bower_components/openlayers3/build/ol.css">
        <link rel="stylesheet" href="assets/css/ol.css">

        //IconSelect
        link(rel="stylesheet" href='assets/css/iconselect.css')

        //CSS animations
        link(rel='stylesheet', href="assets/css/animations.css")
